* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background 0.3s, color 0.3s;
}
body.dark-mode {
    background: #333;
    color: #f4f4f9;
    
}
.container {
    background: #fff;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 1rem;
    border: 2px solid #4A90E2;
    transition: background 0.3s, border 0.3s;
}
.container.dark-mode {
    background: #444;
    border: 2px solid #4A90E2;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
h1 {
    font-size: 4rem;
    color: #4A90E2;
    text-align: center;
    margin: 0.2rem;
    font-family: 'Ribeye Marrow', 'Courier New', Courier, monospace;
}
h2 {
    font-family: 'Pompiere', Courier, monospace;
    text-align: right;
    margin-bottom: 1.5rem;
    margin-top: 0.2rem;
}
label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #555;
    display: block;
}
label.dark-mode{
    color: #fff;
}
#generatedPassword.dark-mode{
    color: #555;
}
input[type="text"], input[type="password"], input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s, background 0.3s;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus {
    border-color: #4A90E2;
    outline: none;
}
input[type="checkbox"] {
    margin-right: 0.5rem;
}
.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.7rem 0;
}
.checkbox-group label {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
}
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9rem;
    flex: 1 1 48%; 
    margin: 0.5rem; 
    min-width: 120px; 
    transition: background-color 0.3s, transform 0.2s;
}
button:hover {
    background-color: #54bb35; 
    transform: translateY(-3px);
}
input:hover {
    border-color: #54bb35; 
    transform: translateY(-1px);
}
button:disabled {
    background-color: #ccc;
}
.result-container {
    background: #eef;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
}
.result-container.dark-mode {
    background: #555;
}

.advanced-options, .customize-options {
    display: none;
    margin-top: 1rem;
    border: 2px solid #4A90E2;
    border-radius: 6px;
    padding: 0.75rem;
}

.result-container button {
    margin-left: 1rem; 
    padding: 0.4rem 0.6rem; 
    flex: 0 0 auto;
}

.icon {
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s;
    vertical-align: middle;
    line-height: 1;         
    margin-right: 4px;
}
.icon.active {
    transform: rotate(180deg);
}
.dark-mode-toggle{
    display: flex;
    justify-content: end;
}

.password-strength-container {
    margin-bottom: 1rem;
    margin-top: -0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-strength {
    font-size: 0.85rem;
    margin: 0.5rem 0rem;
    align-self: flex-start;
    transition: color 0.3s ease;
}

progress {
    width: 97%;
    height: 3px;
    border-radius: 4px;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #eee; 
    border-radius: 4px;
    transition: color 0.3s ease;
}

progress::-webkit-progress-value {
    border-radius: 4px;
}

.progress-weak::-webkit-progress-value {
    background-color: #e74c3c; 
}

.progress-medium::-webkit-progress-value {
    background-color: #f39c12;
}

.progress-strong::-webkit-progress-value {
    background-color: #2ecc71;
}

.password-strength.weak {
    color: #e74c3c; 
}
.password-strength.medium {
    color: #f39c12; 
}

.password-strength.strong {
    color: #2ecc71;
}

@media (max-width: 600px) {
    .container {
        padding: 1rem;
        margin: 6rem 0.5rem;
        margin-bottom: 0px;
    }
    h1 {
        font-size: 3.5rem;
    }
    .result-container {
        flex-direction: column;
        align-items: stretch;
    }
    .result-container button {
        width: 100%;
        margin-top: 0.5rem;
        margin-left: 0; 
    }
    .checkbox-group {
        flex-direction: column;
        align-items: flex-start;
    }
    .checkbox-group label {
        margin-bottom: 0.3rem;
    }
    .button-group {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        margin-top: 1rem;
    }
    #generatedPassword{
        margin: 1rem 0;
        text-align: center;
    }
}
